# Amend with your details.
compartment_id = "ocid1.compartment.oc1..aaaaaaaa..."
db_name        = "obadw2"
admin_password = "MyStrongPassword123"
db_version     = "21c"
# OLTP, DW, AJD, APEX
db_workload    = "DW"
# Must be false for AJD and APEX
is_free_tier   = "true"
license_model  = "LICENSE_INCLUDED"
