# tfvars files are used by terraform to pass secret values to terraform at runtime 

# this file is typically dynamaically created at runtime in a CI/CD pipeline using a key vault 

# Baseline variables needed to use this terraform 

TENANT_ID = "????????-????-????-????-????????????" 
SUBSCRIPTION_ID = "????????-????-????-????-?????????????"
CLIENT_ID     = "?????????????"
CLIENT_SECRET = "?????????????"
